@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Lexend:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-pulse-green {
    animation: pulse-green 2.5s infinite;
  }
}

@keyframes pulse-green {
  0%, 100% { box-shadow: 0 0 15px 0px rgba(74, 222, 128, 0.4); }
  50% { box-shadow: 0 0 25px 8px rgba(74, 222, 128, 0.6); }
}
